html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 使用外部 CSS
        link(rel="stylesheet" href=require('../../assets/css/demo01.css'))
    body 
        main 
            h2 
                | The Beauty of 
                span.css CSS 
                | Design
