html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 盒子模型
        link(rel="stylesheet", href=require("../../assets/css/demo03.css"))
    body 
        .wrapper 
            .title 标准盒子模型
            .box1 内容部分内容部分内容部分内容部分内容部分内容部分内容部分内容部分内容部分内容部分内容部分内容部分
            .title 替代盒子模型
            .box1.box2 这里是内容部分这里是内容部分这里是内容部分这里是内容部分.