html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Css 玩耍
        link(rel="stylesheet" href=require('../../assets/css/main.scss'))
        style. 
            .black {
                color: black;
            }
    body 
        h1(style="color:red") hahah
        p hhhhhs
        p.black 我是黑色